<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/brockmerkwan</string>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>com.brock.downloads.tidy.weekly</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>/usr/local/bin/downloads_tidy_weekly</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/brockmerkwan/Downloads/_Archive/_tidy_stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Users/brockmerkwan/Downloads/_Archive/_tidy_stdout.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>19</integer>
		<key>Minute</key>
		<integer>0</integer>
		<key>Weekday</key>
		<integer>7</integer>
	</dict>
</dict>
</plist>
